

<br>
<h1 class="text-light">We offer these journeys into the ice:</h1>



<div class="container row"> 
    <div class="row album py-5 bg-transparent text-light d-flex">
        
        <div *ngFor="let x of travels; index as travelId">

            <div class="col-6 card mb-3 bg-transparent" style="max-width: 100%">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <img src= '{{ x.img }}' class="card-img" alt="...">
                    </div>

                    <div class="col-md-4">
                        <div class="card-body bg-dark h-100">
                            <h5 class="card-title"> {{x.destination}}</h5>
                            <!--<p class="card-text"> {{x.description}}</p>-->
                            <span class="card-text">
                                <ul>
                                    <li>Start: {{ x.start }} </li>
                                    <li>Duration: {{ x.duration }} days</li>
                                    <li>Price: {{ x.price | currency:'€ ' }}  </li>
                                </ul>
                            </span>
                            <br>
                            <a [routerLink]="['/travel', travelId]">
                                <button type="button" class="btn btn-secondary">Book</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
</div>