
<h1>We offer these journeys into the ice:</h1>

<div class="container"> 
    <div class="row album py-5 bg-light d-flex">
        
        <div *ngFor="let x of travels; index as travelId">

            <div class="col-4 card mb-3" style="max-width: 100%">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="assets/img/iceland-2111811_1920.jpg" class="card-img" alt="...">
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"> {{x.destination}}</h5>
                            <p class="card-text"> {{x.description}}</p>
                            <span class="card-text">
                                <ul>
                                    <li>Start: {{ x.start }} </li>
                                    <li>Duration: {{ x.duration }} days</li>
                                    <li>Price: {{ x.price }}€ </li>
                                </ul>
                            </span>
                            <a [routerLink]="['/travel', travelId]">
                            <button type="button" class="btn btn-dark">Book</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
</div>