<div class="container"> 
    <div class="row album py-5 bg-light d-flex">
        
        <div *ngIf="travelItem">

            <div class="col-4 card mb-3" style="max-width: 100%">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="assets/img/iceland-2111811_1920.jpg" class="card-img" alt="...">
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"> {{travelItem.destination}}</h5>
                            <p class="card-text"> {{travelItem.description}}</p>
                            <span class="card-text">
                                <ul>
                                    <li>Start: {{ travelItem.start }} </li>
                                    <li>Duration: {{ travelItem.duration }} days</li>
                                    <li>Price: {{ travelItem.price }}€ </li>
                                </ul>
                            </span>
                            <a>
                            <button  (click)="addToCart(travelItem)" type="button" class="btn btn-dark">Add to Cart</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
</div>
